<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="2.2.5" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.2.5" targetFramework="net472" />
  <package id="Selenium.Firefox.WebDriver" version="0.27.0" targetFramework="net472" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="92.0.4515.10700" targetFramework="net472" />
  <package id="Selenium.WebDriver.IEDriver" version="3.150.1.2" targetFramework="net472" />
  <package id="Selenium.WebDriver.MicrosoftDriver" version="17.17134.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.MSEdgeDriver" version="91.0.864.37" targetFramework="net472" />
</packages>