<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Selenium.Firefox.WebDriver" version="0.27.0" targetFramework="net48" />
  <package id="Selenium.Support" version="4.3.0" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.3.0" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="103.0.5060.5300" targetFramework="net48" />
  <package id="Selenium.WebDriver.GeckoDriver" version="0.31.0.1" targetFramework="net48" />
  <package id="Selenium.WebDriver.IEDriver" version="4.2.0" targetFramework="net48" />
  <package id="Selenium.WebDriver.MSEdgeDriver" version="101.0.1210.47" targetFramework="net48" />
</packages>