<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net452" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="87.0.4280.8800" targetFramework="net472" />
  <package id="Selenium.WebDriver.IEDriver" version="3.150.1.2" targetFramework="net472" />
  <package id="Selenium.WebDriver.MicrosoftDriver" version="17.17134.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.MSEdgeDriver" version="87.0.669" targetFramework="net472" />
</packages>